@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DevOps CI/CD &  SonarCloud</h1>
    <br />
    <h2><u>@ViewBag.Work</u></h2>
    <br />

    
</div>
